{
  "cases": {
    "SYNTH": {
      "name": "SYNTH",
      "mode": "ca",
      "cutoff": 10.0,
      "topology": {
        "n_nodes": 255,
        "n_edges": 2658,
        "density": 0.0821,
        "avg_degree": 20.8471,
        "max_degree": 41,
        "n_components": 1,
        "giant_frac": 1.0,
        "avg_clustering": 0.6774,
        "avg_shortest_path": 5.778,
        "diameter": 13
      },
      "modularity": 0.7427,
      "n_communities": 5,
      "stability": {
        "k_mean": 4.9,
        "k_std": 0.3,
        "k_mode": 5,
        "Q_mean": 0.7427,
        "Q_std": 0.0001
      },
      "elapsed_s": 2.08,
      "top_betweenness": [
        [
          "A:LEU:63",
          0.26,
          6
        ],
        [
          "A:GLU:207",
          0.2463,
          12
        ],
        [
          "A:SER:42",
          0.2462,
          10
        ],
        [
          "A:ILE:249",
          0.2461,
          3
        ],
        [
          "A:LEU:193",
          0.2378,
          5
        ]
      ],
      "validation": {
        "ARI": 0.9234,
        "NMI": 0.9125,
        "homogeneity": 0.9355,
        "completeness": 0.8907,
        "v_measure": 0.9125
      },
      "confusion": {
        "0": {
          "0": 0,
          "1": 1,
          "2": 63,
          "3": 0
        },
        "1": {
          "0": 63,
          "1": 0,
          "2": 0,
          "3": 0
        },
        "2": {
          "0": 0,
          "1": 0,
          "2": 2,
          "3": 60
        },
        "3": {
          "0": 2,
          "1": 59,
          "2": 0,
          "3": 0
        },
        "4": {
          "0": 0,
          "1": 5,
          "2": 0,
          "3": 0
        }
      }
    },
    "1A8O": {
      "name": "1A8O",
      "mode": "heavy",
      "cutoff": 5.0,
      "topology": {
        "n_nodes": 70,
        "n_edges": 335,
        "density": 0.1387,
        "avg_degree": 9.5714,
        "max_degree": 18,
        "n_components": 1,
        "giant_frac": 1.0,
        "avg_clustering": 0.5631,
        "avg_shortest_path": 2.6435,
        "diameter": 5
      },
      "modularity": 0.5985,
      "n_communities": 6,
      "stability": {
        "k_mean": 6.0,
        "k_std": 0.0,
        "k_mode": 6,
        "Q_mean": 0.6008,
        "Q_std": 0.0053
      },
      "elapsed_s": 0.18,
      "top_betweenness": [
        [
          "A:THR:186",
          0.1066,
          14
        ],
        [
          "A:TYR:169",
          0.0963,
          12
        ],
        [
          "A:LEU:190",
          0.0916,
          15
        ],
        [
          "A:MSE:214",
          0.0916,
          17
        ],
        [
          "A:LEU:211",
          0.0904,
          12
        ]
      ]
    },
    "2BEG": {
      "name": "2BEG",
      "mode": "heavy",
      "cutoff": 5.0,
      "topology": {
        "n_nodes": 130,
        "n_edges": 594,
        "density": 0.0708,
        "avg_degree": 9.1385,
        "max_degree": 19,
        "n_components": 1,
        "giant_frac": 1.0,
        "avg_clustering": 0.4968,
        "avg_shortest_path": 3.5247,
        "diameter": 8
      },
      "modularity": 0.6598,
      "n_communities": 8,
      "stability": {
        "k_mean": 6.2,
        "k_std": 0.4,
        "k_mode": 6,
        "Q_mean": 0.6604,
        "Q_std": 0.0066
      },
      "elapsed_s": 0.39,
      "top_betweenness": [
        [
          "C:ASP:23",
          0.1181,
          14
        ],
        [
          "D:ASP:23",
          0.0996,
          15
        ],
        [
          "D:LEU:34",
          0.0927,
          12
        ],
        [
          "C:LEU:34",
          0.0896,
          12
        ],
        [
          "D:VAL:36",
          0.0868,
          10
        ]
      ],
      "validation": {
        "ARI": 0.051,
        "NMI": 0.1911,
        "homogeneity": 0.2166,
        "completeness": 0.1711,
        "v_measure": 0.1911
      },
      "confusion": {
        "0": {
          "A": 4,
          "B": 4,
          "C": 5,
          "D": 5,
          "E": 5
        },
        "1": {
          "A": 0,
          "B": 0,
          "C": 3,
          "D": 9,
          "E": 9
        },
        "2": {
          "A": 4,
          "B": 4,
          "C": 4,
          "D": 4,
          "E": 4
        },
        "3": {
          "A": 6,
          "B": 6,
          "C": 5,
          "D": 0,
          "E": 0
        },
        "4": {
          "A": 2,
          "B": 2,
          "C": 4,
          "D": 4,
          "E": 4
        },
        "5": {
          "A": 6,
          "B": 6,
          "C": 0,
          "D": 0,
          "E": 0
        },
        "6": {
          "A": 0,
          "B": 0,
          "C": 4,
          "D": 4,
          "E": 4
        },
        "7": {
          "A": 4,
          "B": 4,
          "C": 1,
          "D": 0,
          "E": 0
        }
      }
    },
    "2HHB": {
      "name": "2HHB",
      "mode": "heavy",
      "cutoff": 5.0,
      "topology": {
        "n_nodes": 574,
        "n_edges": 3144,
        "density": 0.0191,
        "avg_degree": 10.9547,
        "max_degree": 18,
        "n_components": 1,
        "giant_frac": 1.0,
        "avg_clustering": 0.5156,
        "avg_shortest_path": 5.6347,
        "diameter": 12
      },
      "modularity": 0.7818,
      "n_communities": 14,
      "stability": {
        "k_mean": 13.65,
        "k_std": 0.8529,
        "k_mode": 14,
        "Q_mean": 0.7823,
        "Q_std": 0.0031
      },
      "elapsed_s": 4.66,
      "top_betweenness": [
        [
          "A:TYR:140",
          0.0998,
          14
        ],
        [
          "C:TYR:140",
          0.0989,
          14
        ],
        [
          "D:GLN:131",
          0.0908,
          15
        ],
        [
          "A:ARG:141",
          0.0904,
          12
        ],
        [
          "A:PHE:98",
          0.0896,
          14
        ]
      ],
      "validation": {
        "ARI": 0.3593,
        "NMI": 0.6418,
        "homogeneity": 0.9187,
        "completeness": 0.4931,
        "v_measure": 0.6418
      },
      "confusion": {
        "0": {
          "A": 11,
          "B": 49,
          "C": 1,
          "D": 0
        },
        "1": {
          "A": 0,
          "B": 0,
          "C": 56,
          "D": 0
        },
        "2": {
          "A": 0,
          "B": 0,
          "C": 0,
          "D": 54
        },
        "3": {
          "A": 0,
          "B": 50,
          "C": 0,
          "D": 0
        },
        "4": {
          "A": 1,
          "B": 0,
          "C": 11,
          "D": 38
        },
        "5": {
          "A": 0,
          "B": 0,
          "C": 49,
          "D": 0
        },
        "6": {
          "A": 48,
          "B": 0,
          "C": 0,
          "D": 0
        },
        "7": {
          "A": 0,
          "B": 47,
          "C": 0,
          "D": 0
        },
        "8": {
          "A": 32,
          "B": 0,
          "C": 0,
          "D": 0
        },
        "9": {
          "A": 31,
          "B": 0,
          "C": 0,
          "D": 0
        },
        "10": {
          "A": 0,
          "B": 0,
          "C": 0,
          "D": 29
        },
        "11": {
          "A": 0,
          "B": 0,
          "C": 0,
          "D": 25
        },
        "12": {
          "A": 0,
          "B": 0,
          "C": 24,
          "D": 0
        },
        "13": {
          "A": 18,
          "B": 0,
          "C": 0,
          "D": 0
        }
      }
    }
  },
  "hhb_sweep": [
    [
      0.2,
      4,
      0.689,
      0.839,
      0.874,
      0.869,
      0.878
    ],
    [
      0.3,
      4,
      0.682,
      0.762,
      0.81,
      0.802,
      0.818
    ],
    [
      0.4,
      6,
      0.743,
      0.738,
      0.816,
      0.924,
      0.731
    ],
    [
      0.5,
      7,
      0.753,
      0.719,
      0.811,
      0.954,
      0.706
    ],
    [
      0.6,
      9,
      0.771,
      0.57,
      0.749,
      0.954,
      0.617
    ],
    [
      0.7,
      10,
      0.777,
      0.483,
      0.717,
      0.947,
      0.577
    ],
    [
      0.8,
      13,
      0.782,
      0.404,
      0.678,
      0.955,
      0.526
    ],
    [
      1.0,
      14,
      0.782,
      0.359,
      0.642,
      0.919,
      0.493
    ],
    [
      1.2,
      15,
      0.781,
      0.344,
      0.637,
      0.93,
      0.484
    ]
  ],
  "hhb_tuned": {
    "gamma": 0.2,
    "k": 4,
    "Q": 0.6886,
    "ARI": 0.8386,
    "NMI": 0.8736,
    "homogeneity": 0.8687,
    "completeness": 0.8785,
    "confusion": {
      "0": {
        "A": 1,
        "B": 0,
        "C": 140,
        "D": 38
      },
      "1": {
        "A": 0,
        "B": 146,
        "C": 0,
        "D": 0
      },
      "2": {
        "A": 140,
        "B": 0,
        "C": 1,
        "D": 0
      },
      "3": {
        "A": 0,
        "B": 0,
        "C": 0,
        "D": 108
      }
    }
  },
  "b1t": {
    "topology": {
      "n_nodes": 12544,
      "n_edges": 73276,
      "density": 0.0009,
      "avg_degree": 11.683,
      "max_degree": 23,
      "avg_clustering": 0.4534,
      "n_components": 1
    },
    "louvain_g1": {
      "k": 30,
      "Q": 0.8993
    },
    "sweep": [
      [
        0.05,
        4,
        0.743,
        0.0,
        0.053,
        0.339,
        0.625
      ],
      [
        0.1,
        7,
        0.771,
        0.077,
        0.235,
        0.393,
        0.689
      ],
      [
        0.2,
        7,
        0.785,
        0.054,
        0.199,
        0.37,
        0.659
      ],
      [
        0.3,
        14,
        0.871,
        0.028,
        0.174,
        0.419,
        0.654
      ],
      [
        0.5,
        18,
        0.888,
        0.021,
        0.164,
        0.455,
        0.678
      ],
      [
        0.7,
        25,
        0.899,
        0.017,
        0.168,
        0.439,
        0.675
      ],
      [
        1.0,
        30,
        0.899,
        0.014,
        0.162,
        0.404,
        0.659
      ]
    ],
    "g_chain": 0.7,
    "g_macro": 0.1,
    "val_chain": {
      "ARI": 0.4395,
      "NMI": 0.6745,
      "homogeneity": 0.7121,
      "completeness": 0.6407,
      "v_measure": 0.6745
    },
    "val_macro": {
      "ARI": 0.0773,
      "NMI": 0.2353,
      "homogeneity": 0.5303,
      "completeness": 0.1512,
      "v_measure": 0.2353
    },
    "stability": {
      "k_mean": 31.9333,
      "k_std": 0.9286,
      "k_mode": 32,
      "Q_mean": 0.898,
      "Q_std": 0.0011
    },
    "confusion_macro": {
      "0": {
        "hexon": 2721,
        "minor": 307,
        "penton": 0
      },
      "1": {
        "hexon": 2735,
        "minor": 215,
        "penton": 0
      },
      "2": {
        "hexon": 2727,
        "minor": 153,
        "penton": 0
      },
      "3": {
        "hexon": 2740,
        "minor": 31,
        "penton": 19
      },
      "4": {
        "hexon": 2,
        "minor": 0,
        "penton": 421
      },
      "5": {
        "hexon": 0,
        "minor": 286,
        "penton": 15
      },
      "6": {
        "hexon": 0,
        "minor": 172,
        "penton": 0
      }
    },
    "top_betweenness": [
      [
        "K:TYR:698",
        0.1094,
        13,
        "K"
      ],
      [
        "K:TYR:699",
        0.1093,
        18,
        "K"
      ],
      [
        "C:TYR:80",
        0.09,
        17,
        "C"
      ],
      [
        "G:TYR:698",
        0.0852,
        11,
        "G"
      ],
      [
        "C:ILE:103",
        0.0851,
        13,
        "C"
      ],
      [
        "G:TYR:699",
        0.0835,
        16,
        "G"
      ],
      [
        "K:ARG:330",
        0.0594,
        19,
        "K"
      ],
      [
        "K:ARG:382",
        0.0466,
        13,
        "K"
      ]
    ],
    "annotation_counts": {
      "hexon": 10925,
      "penton": 455,
      "minor": 1164
    },
    "trimer": {
      "trimers": [
        [
          "A",
          "B",
          "C"
        ],
        [
          "D",
          "E",
          "F"
        ],
        [
          "G",
          "H",
          "I"
        ],
        [
          "J",
          "K",
          "L"
        ]
      ],
      "ARI": 0.8898,
      "NMI": 0.8644,
      "homogeneity": 0.8514,
      "completeness": 0.8779,
      "confusion": {
        "0": {
          "hexon_T0": 6,
          "hexon_T1": 4,
          "hexon_T2": 0,
          "hexon_T3": 2711,
          "minor": 307,
          "penton": 0
        },
        "1": {
          "hexon_T0": 0,
          "hexon_T1": 3,
          "hexon_T2": 2719,
          "hexon_T3": 13,
          "minor": 215,
          "penton": 0
        },
        "2": {
          "hexon_T0": 0,
          "hexon_T1": 2714,
          "hexon_T2": 13,
          "hexon_T3": 0,
          "minor": 153,
          "penton": 0
        },
        "3": {
          "hexon_T0": 2720,
          "hexon_T1": 9,
          "hexon_T2": 0,
          "hexon_T3": 11,
          "minor": 31,
          "penton": 19
        },
        "4": {
          "hexon_T0": 2,
          "hexon_T1": 0,
          "hexon_T2": 0,
          "hexon_T3": 0,
          "minor": 0,
          "penton": 421
        },
        "5": {
          "hexon_T0": 0,
          "hexon_T1": 0,
          "hexon_T2": 0,
          "hexon_T3": 0,
          "minor": 286,
          "penton": 15
        },
        "6": {
          "hexon_T0": 0,
          "hexon_T1": 0,
          "hexon_T2": 0,
          "hexon_T3": 0,
          "minor": 172,
          "penton": 0
        }
      }
    },
    "official": {
      "ARI": 0.0799,
      "NMI": 0.2882,
      "homogeneity": 0.5415,
      "completeness": 0.1963,
      "confusion": {
        "0": {
          "H\u00e9xon": 2721,
          "IIIa": 36,
          "IX": 67,
          "P\u00e9nton": 0,
          "VI": 0,
          "VII": 0,
          "VIII": 204
        },
        "1": {
          "H\u00e9xon": 2735,
          "IIIa": 0,
          "IX": 96,
          "P\u00e9nton": 0,
          "VI": 0,
          "VII": 0,
          "VIII": 119
        },
        "2": {
          "H\u00e9xon": 2727,
          "IIIa": 0,
          "IX": 51,
          "P\u00e9nton": 0,
          "VI": 91,
          "VII": 11,
          "VIII": 0
        },
        "3": {
          "H\u00e9xon": 2740,
          "IIIa": 0,
          "IX": 0,
          "P\u00e9nton": 19,
          "VI": 28,
          "VII": 0,
          "VIII": 3
        },
        "4": {
          "H\u00e9xon": 2,
          "IIIa": 0,
          "IX": 0,
          "P\u00e9nton": 421,
          "VI": 0,
          "VII": 0,
          "VIII": 0
        },
        "5": {
          "H\u00e9xon": 0,
          "IIIa": 252,
          "IX": 0,
          "P\u00e9nton": 15,
          "VI": 0,
          "VII": 0,
          "VIII": 34
        },
        "6": {
          "H\u00e9xon": 0,
          "IIIa": 0,
          "IX": 172,
          "P\u00e9nton": 0,
          "VI": 0,
          "VII": 0,
          "VIII": 0
        }
      }
    },
    "meta": {
      "method": "cryo-EM",
      "resolution": "3,20 \u00c5",
      "emdb": "EMD-7034",
      "title": "Improved cryoEM structure of human adenovirus type 5 with atomic details of minor proteins VI and VII",
      "n_atoms": 100134,
      "n_molecule_types": 8
    }
  }
}